# Legacy project files
.settings/
.buildpath
.project

# Personal stuff
reqs.zip
sql/
tools/tests/

# Downloads
download/

# Unfinished error page directory
error/

# Debug junk
postdebug.log

# Adminer script
adminer.php
