body {
	background-color: #cc5555;
	color: #eeeeee;
	font-size: 12pt;
	text-align: center;
}
table, tr, td {
	background-color: #dd6666;
	border: 1px none;
	border-collapse: collapse;
	margin: auto;
}
td {
	padding: 5px;
	text-align: center;
}
.error {
	background-color: #dddddd;
	border-radius: 10px;
	display: inline-block;
	color: black;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0em;
	font-family: monospace;
}
