body {
	margin-bottom: 2em;
	/*max-width: 400px;*/
	/*background-color:#F8ECC2;*/
}

.fsbox td {
	padding: 0.2em;
}
.fs_seeds	{ background-color: #ccffcc; }
.fs_stars	{ background-color: #ccccff; }
.fs_pgm		{ background-color: #ff5555; }
.fs_water	{ background-color: #8888ff; }
.fs_sun		{ background-color: #ffff88; }
.fs_giga	{ background-color: #ffc0cb; }
.fs_warp	{ background-color: #808080; }

.box {
	border: 2px solid black;
	display: table;
	border-spacing: 2px;
	margin-bottom: 0.5em;
	/*width: 100%;*/
}
.outer {
	width: 100%;
}

.fullwidth {
	width: 100%;
}

.itemnestbox {
	display:block;
	width: 100%;
	border: 26px none #000000;
}

li {
	padding-bottom: 1em;
}
.nobreak > li {
	padding-bottom: 0.1em;
}

.title {
	font-weight:bold;
	text-decoration:underline;
}
.seedc {
	color: green;
}
.starc {
	color: blue;
}

.blue {
	color: blue;
}
.ffaaff {
	background-color:#ffaaff;
}

.tbl0 { background-color: #eeeeee; }
.tbl1 { background-color: #ffffff; }
.tbh  { background-color: #ffff00; }

.inline {
	display: inline-grid !important;
	margin-bottom: 0em;
}
.Spadding {
	padding: 5px;
}

/* User link */
a.user {
	font-weight: bold;
	text-decoration: none;
}

/* Friends */
.friends td {
	padding:3px;
}

/* Seeds & Stars Draw */
.oddstable {
	border-spacing: 0px;
	border-collapse: collapse;
	border: 2px solid black;
}
.oddstable td, .oddstable th {
	border-bottom: 2px solid black;	
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

/* Inbox */
.inbox {
	background-color: #ddaaff;
	width: 300px;
	height: 200px;
	display: inline-block;
	padding: 5px;
	margin: 5px;
}
.inboxcell1 {
	vertical-align: top;
}
.inboxcell2 {
	vertical-align: bottom;
	text-align: center;
}

/* Change Nickname */
.flagbox {
	border: 1px solid gray;
	background-color: gray;
	margin: 2px;
	padding:5px;
	display: block;
}
.f {
	display: inline-block;
}
.flaglink {
	text-decoration: none;
	color: white;
}

/* User page */
.user_flowbox {
	border: 2px solid black;
	margin: auto;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	width: 170px;
}
.user_flowbox img {
	padding: 5px;
}

/* Nice button */
.nicebtn {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	border: 2px outset black;
	border-radius: 5px;
	text-decoration: none;
	color: black;
}
.nicebtn:hover {
	border: 2px inset black;
}
.nb_red { background-color: #eebbbb; }
.nb_red:hover { background-color: #ddaaaa; }
.nb_green { background-color: #bbeebb; }
.nb_green:hover { background-color: #aaddaa; }

.nb_blue { background-color: #bbbbee; }
.nb_blue:hover { background-color: #aaaadd; }



/* Options */
.opt_tbl {
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
}
.opt_tbl tr {
	border: 2px solid black;
}
.opt_tbl td {
	padding: 5px;
}
.opt_tbl .a {
	font-weight: bold;
	text-align: center;
}
.opt_tbl .b {
	text-align: center;
}
.opt_tbl .c {
	font-style: italic;
}

/* Debug Table */
table.debugtable tr td {
	background-color: gold;
	border: 1px solid black;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}
table.debugtable {
	margin: auto;
}

/* Menu bar - links */
.menubar a {
	display: inline-block;
	padding: 5px;
}

/* Urgent message style */
.urgent {
	color: red;
	font-weight: bold;
	font-size: 14pt;
}

/* Flower school specific layout stuff */
.flowbox {
	border-top: 2px solid black;
	display: inline-block;
	padding: 2px;
	width: 100%;
}

/* Zoom menu */
.zoom {
	background-color: #000000;
	color: white;
	margin: auto;
	text-align: center;
}